{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% block title %}<title>Home</title>{% endblock title %}
    {% block icon %} 
      <link rel="icon" href="{% static "img/book-svgrepo-com.svg" %}">
    {% endblock icon %}
</head>
<body class="bg-light"> 
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
        <div class="container-fluid bg-light shadow p-3 mb-3">
          <img src="{% static 'img/book_logo.png' %}" alt="Logo" style="max_width:50px; height:50px;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end align-content-center" id="navbarNavDropdown">
            <ul class="nav">
              <li class="nav-item">
                <button type="button" class="btn btn-primary m-2"><a class="nav-link link-underline-opacity-0 p-0 link-light fs-6" href="{% url "product:form_book" %}">AddBook</a></button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-primary m-2"><a class="nav-link link-underline-opacity-0 p-0 link-light fs-6" href="{% url "account:profile" %}">Profile</a></button>
              </li>
              <li class="nav-item">
                {% if user.is_authenticated %}
                <button type="button" class="btn btn-primary m-2"><a class="nav-link link-underline-opacity-0 p-0 link-light fs-6" href="{% url "account:logout" %}">Logout</a></button>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>
        </main>
    {% block content %}
    {% endblock content %}
    
</body>
</html>