{% extends "product/base.html" %}'
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>
    {% block content %}
       <form action="{% url "product:book_update" books.id %}" method="post">
        {% csrf_token %}
            {% for fm in form %}
                {{fm.label}}
                {{fm}}
            {% endfor %}
            <button>Save</button>
       </form>
    {% endblock content %}
    
</body>
</html>